*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
}


.container{
    width: 375px;
}

nav{
    gap: 191px;
    height: 64px;
}

.element{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.line{
    width: 400px;
    height: 1px;
    background-color: #c7c3c3;
    margin-top: 32px;
}

.nav-photo-one{
    margin-left: 16px;
}

.nav-photo-two{
    margin-left: 16px;
}

.container-text{
    width: 375px;
    background-color: #80808015;
    
    margin-top: 32px;

    h6{
        color:#437EF7;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.1px;
        text-align: center;
    }

    h3{
        color: #272D37;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        margin-top: 32px;
    }

    p{
        color:#5F6D7E;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.1px;
        margin-top: 32px;
    }
}

.container-content{
    width: 375px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5{
        color:#272D37;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.48px;
    }

    h3{
        color:#272D37;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.4px;
        padding-top: 16px;
    }

    p{
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        padding-top: 8px;
    }
    a{
        text-decoration: none;
        color:#437EF7;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }
}

.content-1{
    width: 339px;
    margin-top: 32px;
}

.content-2{
    width: 339px;
    margin-top: 40px;
}

.content-3{
    width: 339px;
    margin-top: 40px;
}

.content-4{
    width: 339px;
    margin-top: 40px;
}

.content-5{
    width: 339px;
    margin-top: 40px;
}

.content-6{
    width: 339px;
    margin-top: 40px;
}

.container-learn{
    display: flex;
    margin-top: 16px;
    gap: 6px;
}

.container-photo{
    width: 375px;
    margin-top: 32px;
}

.container-text-group{
    width: 343px;
    display: flex;
    flex-direction: column;

    h4{
        color:#272D37;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.56px;
    }

    p{
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
}

.container-btn{
    width: 133px;
    height: 46px;
    margin-top: 32px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color:#437EF7;

    a{
        text-decoration: none;
        color:#FFF;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }
}

.container-photo-user{
    width: 343px;
    margin-top: 32px;
}

.text-check{
    padding-top: 24px;
}

.text-check2{
    padding-top: 10px;
}

.container-user{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        color:#272D37;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.48px;
        margin-top: 40px;
    }

    p{
        color: #5F6D7E;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        margin-top: 12px;
        width: 311px;
        height: 96px;
        margin-left: 32px;
    }

    h5{
        margin-top: 15px;
        color:#272D37;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.4px;
    }

    span{
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
}

.container-user1{
    width: 311px;
    margin-top: 32px;
}

.container-user2{
    width: 311px;
    margin-top: 32px;
}

.container-user3{
    width: 311px;
    margin-top: 32px;
}

.container-social-media{
    margin-top: 10px;
    display: flex;
    gap: 16px;
}

.container-menu-text{
    width: 375px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        text-align: center;
    }

    p{
        text-align: center;
        width: 343px;
        height: 96px;
        margin-top: 12px;
    }
}

.container-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-column1{
    width: 343px;
    height: 80px;
    /* background-color: aquamarine; */
    border: 1px gainsboro solid;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
         margin-left: 32px;
         color:#272D37;
         font-size: 18px;
         font-weight: 500;
         line-height: 28px;
         letter-spacing: -0.1px;
    }

    span{
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        margin-left: 32px;
    }
}

.container-column2{
    width: 343px;
    height: 80px;
    /* background-color: antiquewhite; */
    border: 1px gainsboro solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span{
        color:#272D37;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
        width: 279px;
        height: 48px;
    }
}

.container-column3{
    width: 343px;
    height: 80px;
    border: 1px gainsboro solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

    span{
        color:#272D37;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
        width: 279px;
        height: 48px;
    }
}

.container-column4{
    width: 343px;
    height: 80px;
    border: 1px gainsboro solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    span{
        color:#272D37;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
        width: 279px;
        height: 48px;
    }
}

.container-column5{
    width: 343px;
    height: 80px;
    border: 1px gainsboro solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    span{
        color:#272D37;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
        width: 279px;
        height: 48px;
    }
}

.container-column6{
    width: 343px;
    height: 80px;
    border: 1px gainsboro solid;
}

.container-members{
    width: 375px;
    background-color:#2B63D9;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-user-info{
    width: 343px;
    h1{
        text-align: center;
        color:#FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.1px;
    }

    p{
        color:#FFF;
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.56px;
        padding-top: 8px;
    }
}

.signup-btn{
    width: 343px;
    height: 46px;
    border-radius: 6px;
    background-color:#ffffff;
    color:#437EF7;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.login-btn{
    width: 343px;
    height: 46px;
    border-radius: 6px;
    background-color:#437EF7;
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 32px;
}


.container-social{
    width: 375px;
    height: 416px;
    background-color:#437EF7;
    /* margin-left: 16px; */
    /* margin-right: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media{
    width: 343px;
    height: 352px;
    background-color:#437EF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-footer{
    width: 375px;
    /* height: 748px; */
    /* background-color:#5f6c86; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links-text{
    width: 343px;
    /* height: 152px; */
    background-color: aliceblue;
    margin-top: 32px;

    p{
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        margin-top: 8px;
    }
}

.social-media-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
}

.sites-contact-info{
    width: 356px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        text-decoration: none;
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    h3{
        color:#272D37;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    
}

.info-text-one{
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-text-two{
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sites-contact-info2{
    width: 356px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    a{
        text-decoration: none;
        color:#5F6D7E;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    h3{
        color:#272D37;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
}

.info-text-three{
        width: 146px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.info-text-four{
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-alt{
    width: 343px;
    height: 80px;
    /* background-color: #2B63D9; */
    margin-top: 24px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p{
        color:#5F6D7E;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
}